<div class="headerWrapper">
    <div class="userSection">
        <div class="user">
            <p class="userName">Admin User</p>
            <span class="userRole">ADMİN</span>
        </div>
       <!-- <div class="userSettings">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="userSettingIcon">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
          </svg>
       </div> -->
       <div class="logOut" (click)="logout()">
        <p>Çıkış Yap</p>
    </div>
    </div>
   
</div>  